@use '@angular/material' as mat;
@include mat.core();

$high-risk-color: #f44336;
$medium-risk-color: #ff9800;
$low-risk-color: #4caf50;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Global Material component overrides */
.mat-progress-bar {
  height: 8px;
  border-radius: 4px;
}

.mat-paginator {
  background: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}